<!doctype html>
<html lang="en" class='no-js'>
  <head>
	  <meta charset="utf-8">
	  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	  <title>Home</title>
	  <meta name="description" content="Startups template">
	  <meta name="keywords" content="Startups template">
	  <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">

	  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
	  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
	  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->

    <%= stylesheet_link_tag    'application', 'pink-theme', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>


	  <!--[if lt IE 9]>
    <%= javascript_include_tag 'core/html5shiv.js', 'core/respond.min.js'%>
	  <![endif]-->
  </head>

  <body id="color-landing-page" class="color-landing-page">
    <%= yield %>

 	  <!--[if lt IE 9]>
    <%= javascript_include_tag 'core/jquery-1.11.3.min.js'%>
	  <![endif]-->
	  <!--[if (gte IE 9) | (!IE)]><!-->
    <%= javascript_include_tag 'core/jquery-2.1.4.min.js'%>
	  <!--<![endif]-->

    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
  </body>
</html>
